@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --error-red: #EB5757;
    --success-green: #6CEAB5;
}

body {
    @apply font-inter;
}

@layer base {
    @font-face {
      font-family: 'OpticianSans';
      font-style: normal;
      font-weight: bold;
      font-display: swap;
      src: url("/fonts/OpticianSans/Optiker-K.ttf") format("truetype");
    }
  }

.font-optician{
    font-family: "OpticianSans";
    letter-spacing: -2px;
}

.Toastify__toast--error {
    border-radius: 10px;
    background: var(--error-red) !important;
    width: fit-content; 
    padding: 115px;
}

.Toastify__toast--error .Toastify__toast-icon svg {
    fill: #2E2E38 !important;
  }

.Toastify__toast--success .Toastify__toast-icon svg {
    fill: #2E2E38 !important;
  }

.Toastify__toast--success {
    border-radius: 10px;
    background: var(--success-green) !important;
    width: fit-content; 
    padding: 115px;
}

.Toastify__toast-body {
    color: #2E2E38;
    font-size: 16px;
    line-height: 20px;
    padding: 25px 20px 20px 20px;
    width: 100%;
    font-weight: 400;
}

.custom-close-button {
    color: #2E2E38; 
    width: 12px;
    height: auto;
    padding: 20px;
    display: flex;
    justify-content: center; 
    align-items: center; 
    cursor: pointer;
  }